
body {
    font-family: sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container-calendario {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    /* borda para destacar o contêiner */
    border: 1px solid #333;
}

/* Estilo para o cabeçalho (título do mês e botões) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#titulo-mes-ano {
    font-size: 24px;
    margin: 0;
    color: #e0e0e0;
}


.botoes-navegacao button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333; /* Fundo do botão */
    color: #e0e0e0; /* Texto do botão */
    border: 1px solid #555; /* Borda do botão */
    border-radius: 4px;
}

.botoes-navegacao button:hover {
    background-color: #444; /* Efeito hover */
}

.dias-da-semana, .grade-dias-calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}


.dias-da-semana div {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #888;
}

/* Estilo para cada "célula" de dia individual */
.dia {
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s;
}

.dia:hover {
    background-color: #2c2c2c; /* Efeito hover mais sutil */
}


/* Estilo para o dia de hoje */
.dia-de-hoje {
    background-color: transparent; /* Sem fundo */
    color: #ffffff; /* Texto branco para destaque */
    /* borda branca para indicar o dia de hoje */
    border: 2px solid white;
}

/* Estilo para um dia marcado como "tomado" */
.dia-tomado {
    background-color: #e91e63; /* Para: Rosa vibrante */
    color: white; /* Texto branco */
    border: none; /* Remove a borda para não conflitar com a cor */
}

/* Estilo para um dia marcado como "pausa" */
.dia-pausa {
    background-color: #03a9f4; /* Para: Azul claro vibrante */
    color: white; /* Texto branco */
    border: none; /* Remove a borda */
}

/* Estilo para os dias que não são do mês atual */
.dia-outro-mes {
    color: #444; /* Cor cinza mais escuro */
    cursor: default;
}


.legenda {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item-da-legenda {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cor-da-legenda {
    width: 20px;
    height: 20px;
    border: 1px solid #555; /* Borda da legenda */
}


.cor-tomado {
    background-color: #e91e63; /* Rosa */
}
.cor-pausa {
    background-color: #03a9f4; /* Azul claro */
}